:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: black;
  --tertiary-color: #8136a5;
  --accent-color: #b7b7b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  outline: 3px solid orange;
}

body {
  background: linear-gradient(
    242.84deg,
    #86276e -14.62%,
    #370f2e 32.41%,
    #281625 48.47%,
    #1d181e 73.8%,
    #0c0c0d 100%
  );
}

ul {
  list-style: none;
}

.fancy-decoration {
  background-size: 40px 40px;
  background-image: radial-gradient(
    circle,
    var(--secondary-color) 1px,
    rgba(0, 0, 0, 0) 1px
  );
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
